html {
    box-sizing: border-box;
    background-image: url("../Images/Background2.png");
    overflow: auto;
    background-repeat: space;
    background-color: rgb(186, 216, 250);
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif, 'Lato';
    padding-top: 50px;
    padding-bottom: 50px;
}